body {
    background-color: #000000;
    color: #CCCCCC;
}

.flex {
    display: flex!important;
}

.top {
    background-color: #444444;
    padding: 0px !important;
}

.constraints {
/*    background-color: #333333;*/
}

td {
    padding: 0px !important;
	text-align: center !important;
}

.board {
    padding: 10px !important;
    min-height: 100%;
    height: auto;
    background-color: #444444;
}

.btn {
    margin-bottom: 0px !important;
/*    background-color: #1E90FF!important;*/
}
.btn:hover {
/*    background-color: #4FA6FA!important;*/
}

.selected{
    color: #80cbc4 ;
}

h1, h2, h3, h4, h5, h6{
    color: #009688;
}

.mr-20 {
    margin-right: 20px;
}

.mt-30 {
    margin-top: 30px;
}

#selectplayers {
    color: #26a69a ;
    display: block;
}

.strikethrough {
    text-decoration: line-through;
}

.right{
    text-align: right;
}

.row {
  margin-bottom: 0px;
}

.table{
    width: 100%;
}
