<!DOCTYPE html>
<html ng-app="Kanguluru">
<head>
    <title>Kanguluru</title>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
          display: none !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body ng-cloak ng-controller="Main">

    <!-- Menu -->
    <div class="row top valign-wrapper" id="Menu">
        
        <div class="col s2 valign" id = "roundDiv">&nbsp;</div>
        <div class="col s6 valign" id = "scoreDiv">
            <table><tr>
                <td ng-repeat="player in players" >{{player.name}}: {{player.score}}</td>
            </tr></table>
        </div>
        <div class="col s1 valign tab right selected" id = "viewHomeDiv" ng-click="selectHomeDiv()" onmouseover="" style="cursor: pointer;">Home</div>
        <div class="col s1 valign tab right" id = "viewRulesDiv" ng-click="selectRulesDiv()" onmouseover="" style="cursor: pointer;">Rules</div>
        <div class="col s1 valign tab right" id = "viewStoryDiv" ng-click="selectStoryDiv()" onmouseover="" style="cursor: pointer;">Story</div>
        <div class="col s1 valign tab right" ng-show="soundOn"><img src="images/soundOnWhite25.png" style="height:20" ng-click="turnOffSound()"></div>
        <div class="col s1 valign right" ng-show="!soundOn"><img src="images/soundOffWhite25.png" style="height:20" ng-click="turnOnSound()"></div>
        
    </div>

    <div id="homeDiv" ng-show="showHomeDiv">
        <!-- Constraints -->
        <div class="row center constraints" ng-show="playState || resultsState || startGameState">
            <div class="col s12" id = "constraintsDiv">Table with constraints</div>
        </div>

        <!-- Start game -->
        <div class="row center" ng-show="gameCanStartState">
            <br>
            <button class="btn" type="button" ng-click="startGame()">Start game</button>
            <br><br>TIPS: press ESC to end the round; while seeing the results, press ENTER to see one of the best possible arrangements
        </div>

        <!-- Create new game -->
        <div class="row" ng-show="createGameState">

            <div  class="col s1" >&nbsp;</div>
            <div  class="col s2" id = "selectConstraints">
            </div>

            <div class="col s9 valign-wrapper">
                <div class="col s4 ">
                    <div class="row input-field ">
                    <input id="name" type="text">
                    <label for="name">Your name: </label>
                    </div>
                    <br>
                    
                    <div class="row">
                    <label>Time per Round ({{timePerRound}} seconds): </label>
                    <form action="#"> <p class="range-field">
                    <input type="range" value="42" id="timePerRound" ng-model="timePerRound"  min="30" max="90"/>
                    </p></form>
                    </div>
                    
                    <div class="row">
                        <label>No of Players ({{noOfPlayers}}): </label>
                    <form action="#"> <p class="range-field">
                        <input type="range" value = "1" id="selectplayers" min="1" max="10" ng-model="noOfPlayers" />
                    </p></form>
                    </div>
                    
                </div> 

                <div  class="col s1" >&nbsp;</div>
                <div class="col s3 center valign">
                    <button class="btn" type="submit" ng-click="createGame()">Create game</button>
                </div>

            </div>

        </div>

        <!-- New user joining -->
         <div class="row center valign-wrapper" ng-show="personalizeUserState">
            <div class="col s3 valign input-field">
                <input id="nameJU" type="text">
                <label for="name">Name: </label>
            </div>
            <div class="col s3 valign">
                <button class="btn" type="submit" ng-click="joinGame()">Join game</button>
            </div>
        </div>

        <!-- Wait for everybody to get ready -->
        <div class="row center" ng-show="startGameState && !gameCanStartState">
             <div class="col s12"><h5>Wait for other players</h5></div>
        </div>

        <!-- Links for other players -->
        <div class="row center" ng-show="waitForPlayersState">
             <div class="col s12">Give these links to other players:
                    <div class="row s12 mt-10" ng-repeat="(id, p) in players track by $index">
                        <div class="input-field col s12" ng-show="id > 0">
                            <input type="text" id="link_{{id}}" value="{{appuri}}{{gameURI|btoa}}/{{id}}">
                            <label for="link_{{id}}" class="active">Give this link to player {{id+1}}</label>
                        </div>
                    </div>
             </div>
    <!--        <div class="col s12"><button class="btn" type="button">Start first round</button></div>-->
        </div> 



        <!-- Round results -->
        <div class="row center" ng-show="resultsState">
            <button class="btn" type="button" ng-click="startRound()" ng-show="!gameEndState && newRoundCanStartState">New round</button>
            <div id = "roundMessageDiv" style="padding: 5px 0px 0px 0px"></div>
    <!--        <button class="btn" type="button" ng-show="gameEndState">New game (TODO)</button>-->
        </div>

        <!-- Game results -->
        <div class="row center" ng-show="gameEndState">
            <div class="col s12" id="endGameDiv">End game div</div>
        </div>

        <!-- Playing area -->
        <div class="row center" ng-show="playState || resultsState">
                <canvas id="game" style="z-index: 1;">
                    Your browser does not support HTML5 Canvas!
                </canvas>
        </div>
    </div>
    
    <div id="rulesDiv" class="row" ng-show="showRulesDiv">
        <div class="col s1 center">&nbsp;</div>
        <div class="col s10 center">
            <h4>Rules</h4><br>
            <small class = "grey-text">
                Coming soon... meanwhile you can check the story : )
            </small></div>
        <div class="col s1 center">&nbsp;</div>
    </div>
    
    <div id="storyDiv" class="row" ng-show="showStoryDiv">
        <div class="col s1 center">&nbsp;</div>
        <div class="col s10 center">
            <h4>Uluru's incredible story</h4><br>
            <h6>The Uluru rock and its' incredible inhabitants</h6>
            <small class = "grey-text">Uluru is a large sandstone rock formation in the Northern Territory, Australia. It stands 348 m high and has a total circumference of 9.4 km.<br><br>
            <img src="images/uluruPhoto.jpg" style="width:80%;"><br>
            Some special kangaroos live around Uluru: the Kangulurus. We all know the color of common kangaroos: beige, grey, brown...  But the kangulurus are pink, red, orange, yellow, green, blue, black and white. A total of eight species, each of a different color! Fortunately, there are also eight cosy places around the rock, one spot for every species. However, there is no fixed repatriation of those places between kangulurus. In fact, each spot presents both advantages and drawbacks: some have nearby neighbors (A-B, C-D, F-G, G-H), some have vis-à-vis (A-E, B-E, C-H, C-G, D-G, D-F), some are on the corner (A-H, B-C, D-E, E-F)... Though to say which one is the best! Therefore, the kangulurus switch their places every day!<br><br>
            <img src="images/boardPlaces.png" style="width:40%;"><br></small>
            <br><h6>Being a kanguluru</h6>
            <small class = "grey-text">One would think that kangulurus are very peaceful animals, who enjoy their lovely life around the magnificent rock. But the reality is less pleasant, cause they are hot-tempered animals and lots of conflicts appear between species. Thus, when they are in conflict the kangulurus may refuse to sit close to each! Who would have though? Fortunately, their anger never lasts for more than one day. And once they are friends again they may require to sit next to each other or at least to share the same corner.
In order to express their daily wishes, the kangulurus use these suggestive cards:<br>

            <table class="center" >
            <tr>
                <td><img src="images/CardsResize/0.png" style="width:80%;"></td>
                <td>That's really rare! A species showing this card is happy anywhere :)</td>
            </tr><tr>
                <td><img src="images/CardsResize/1.png" style="width:80%;"></td>
                <td>Geographical preferences: the species wants one of the marked places.</td>
            </tr><tr>
                <td><img src="images/CardsResize/5_1.png" style="width:80%;"></td>
                <td>Really dear friends: the species wants to stay next to pink kangaroos (A-B, C-D, F-G, G-H).</td>
            </tr><tr>
                <td><img src="images/CardsResize/6_3.png" style="width:80%;"></td>
                <td>Keep an eye on the enemy: the species wants to stay in front of orange kangaroos (A-E, B-E, C-H, C-G, D-G, D-F).</td>
            </tr><tr>
                <td><img src="images/CardsResize/7_4.png" style="width:80%;"></td>
                <td>Good friends: the species wants to share a corner with green kangaroos (A-H, B-C, D-E, E-F).</td>
            </tr><tr>
                <td><img src="images/CardsResize/8_2.png" style="width:80%;"></td>
                <td>What if the enemy is watching: the species doesn't want to stay in front of yellow kangaroos.</td>
            </tr><tr>
                <td><img src="images/CardsResize/9_5.png" style="width:80%;"></td>
                <td>Big conflict: the species wants to have at least two other species between them and the blue kangaroos.</td>
            </tr><tr>
                <td><img src="images/CardsResize/10_0.png" style="width:80%;"></td>
                <td>Lack of personality: the species wants the same as white kangaroos.</td>
            </tr><tr>
                <td><img src="images/CardsResize/11_7.png" style="width:80%;"></td>
                <td>That's weird: the species wants the opposite of the red kangaroos.</td>
            </tr>
            </table></small>
            <br><h6>Go help the kangulurus</h6>
            <small class = "grey-text">Every morning, the kangulurus gather on the top of Uluru rock in order to decide for assign their places for the day. For this, they use a table on which everyone is allowed to place on wish card.<br>
            However, as they can not always agree on a repartition, the kangulurus asked for your help!<br>
            Thus, you have the mission of placing the 8 species around the rock, such most of them, if not all, are happy! Be careful, your time is limited!<br>
            </small>
            <h5>Good luck!<br></h5>

            </div>
        <div class="col s1 center">&nbsp;</div>
    </div>
    
	<div id="sound" ng-show=false></div>
    <div ng-show=false>
		<img id="boardImg" src="images/board.png">
		<img id="resultBoardImg" src="images/board.png">
		<img id="cardImg" src="images/board.png">
	</div>


    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui/build/angular-ui.min.js"></script>
    <script type="text/javascript" src="js/rdflib.js"></script>
    <script type="text/javascript" src="js/kanguluru.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>